<h4>Master thesis project at SICS (Swedish Institute of Computer Science)</h4>
<h5>2015</h5>
<p>
	I am currently doing my master thesis project at SICS. The research topic is using text analysis and topic extraction for improved relevance measures of research papers. This is an area with much current research, and the broad goal is to develop techniques that can simplify the process of finding relevant scientific material online.
</p>

<h4>C# .NET developer at Decerno AB</h4>
<h5>2014</h5>
<p>
	Decerno is an IT consulting company in Kista with many notable customers such as Trafikverket, Riksåklagaren and Fastighetsbyrån. My task at Decerno was to introduce more automation into the testing of webpages and online systems used by one of their customers. Integration tests were written using Selenium-tools in C#. All the webpages were modelled using the Page Object-pattern, a Page Object being an interface between the webpage and test-code. Furthermore, a new library was written as a wrapper to Selenium to reduce the amount of boiler-plate code and help future test-writers avoid some common problems and pitfalls. 
</p>

<h4>C# .NET developer at MrOrange AB</h4>
<h5>2013</h5>
<p>
	MrOrange is an IT company involved in the travel business. Their customers include Expedia, Apollo and Resia to name a few. They develop both sales systems, admin pages and external customer pages. My task was to develop a new admin interface, to eventually replace an existing outdated one. The new system had to be more userfriendly, better-looking and include some previously missing functionality. My work involved backend-code with SQL-querying, building upon a large existing code base in C#, as well as creating the graphical interface using tools including underscore.js, jQuery and CSS.
</p>