<iframe src="http://familytree-demo.herokuapp.com/advanced" width="100%" height="450" background:"FFF" frameborder="1" framcolor="FFF" scrolling="no"></iframe>

<div id="familytree-text">
	A separate node.js application capable of rendering an interactive family tree from a Neo4j-database. The family tree can be traversed by (1) clicking on portraits to narrow down the view, (2) clicking the green up-arrow, and (3) using the mini-version of the tree on the left. The search-bar can also be used to jump to entries.
</div>