<span id="towerdefense-img">
	<img src="static/images/towerdefense.jpg"/>
</span>
<span id="towerdefense-text">
	<p>
		This is a game I wrote in Java, using <a href="http://slick.ninjacave.com/">Slick2D</a>.
	</p>
	<p>
		The game is played by two people on the same computer. One person is responsible for constructing towers and purchasing items from the shop (using the mouse). The other person controls a hero (using the keyboard), that can be customized by choosing from different abilities. Together they have to defend their base from incoming waves of increasingly tough minion waves.
	</p>
	<p>
		The source code is public on <a href="https://github.com/JonathanMurray/TowerDefense">Github</a>.
	</p>
</span>