<!doctype html>
<html>
  <head>
  	<script>
		TABS = [];
		{{#tabs}}
			TABS.push( "{{name}}" );
		{{/tabs}}
	</script>
    <link rel=stylesheet type=text/css href="static/css/style.css"> 
    <!-- <link rel="icon" href="static/images/favicon.ico"> -->
    <link rel="shortcut icon" href="static/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Cantarell:400,400italic' rel='stylesheet' type='text/css'>
    <script src="static/js/jquery-2.1.1.js"> </script>
    <script src="static/js//easeljs-0.7.0.min.js"></script>
    <script src="static/js/pong.js"></script>
    <script src="static/js/layout.js"> </script>
    <title>Portfolio</title>
  </head>

  <body>
    <nav>
      <ul>
        {{#tabs}}
          {{> navlink}}
        {{/tabs}}
      </ul>
      

      <marquee id="random-quote" behavior="scroll" direction="up" scrollamount="1">
        
      </marquee>

      <span id="nav-image">
  	  	<img src="static/images/troll3.jpg" width="140px"/>
  	  </span>



      <span id="nav-icons">
	      <ul>
	        {{#icons}}
	          {{> nav-icon}}
	        {{/icons}}
	      </ul>
	   </span>

	  

    </nav>

    <div id="content">  
      {{#tabs}}
        {{> tab-wrapper}}
      {{/tabs}}
    </div>




  </body>
  
</html>