

body{
	background: black;
	font-family: 'Cantarell', sans-serif;
	color: #BBB;
}



nav{
	background: gray;
	float: left;
	width: 11em;
	height: 35em;
	color: #333;
	border-radius: 0.5em;
}

nav ul{
	margin: 2px 0 0 0;
	padding: 0;
	display: block;
}

nav li{
	display: block;
	list-style: none;

}

a{
	color: inherit;
}

nav a.tab-link{
	transition: border 0.1s, background 0.3s, color 1s;
	margin: 0 2px;
	padding: 0.5em 0;
	display: block;
	text-decoration: none;
	color: inherit;
	background: #AAA;
	border: 2px solid gray;
	/*text-transform: capitalize;*/
	/*font-variant: small-caps;*/
	font-size: 1em;
	border-radius: 5px;
}

nav a.tab-link:hover{
	border-width: 2px;
	border-color: #FFB84D;
}

nav a.tab-link.active-link{
	background: #639;
	color: #DDD;
}

nav a.tab-link .selected-tab-icon{
	visibility: hidden;
	width: 25px;
	height: 16px;
}

nav a.tab-link.active-link .selected-tab-icon{
	visibility: visible;
}

nav .demo-icon{
	width: 50px;
}

nav .icon-wrapper{
	/*margin-top: 1em;*/
	margin-left: 0.2em;
}


nav #nav-icons{
	position: relative;
	left: 22px;
	top: -43px;
}

nav #nav-icons ul li{
	display: inline;
	float: left;
	margin: 0;
}

nav #nav-icons img{
	width: 24px;
	border: 2px solid black;
	border-radius: 7px;
}

nav #random-quote{
	margin-left: 0.8em;
	margin-top: 1em;
	height: 60px;
	overflow-y: hidden;
	font-size: 0.8em;
	color: #555;
}

nav #random-quote:hover{
	color: #111;
}

nav #nav-image{
	margin-left: 1em;
	margin-top: 1.2em;
	float:left;
}

nav #nav-image img{
	border: 1px solid #FFD700;
	border-radius: 10px;
}

.tab{
	float: left;
	padding: 0 0em 0 0em;
	background: url("../images/blue-background.jpg");
	height: 35em;
	width: calc(100% - 11em);
	overflow-y: scroll;
}

.active-tab .column{
	float: left;
	display: inline-block;
	
}

.active-tab .column:nth-child(even){
	width: 82%;
}

.active-tab .column:nth-child(odd){
	padding-top: 30%;
	padding-left: 0.7em;
	width: 5%;
}

.active-tab iframe{
	margin-top: 2em;
}

.tab:not(.active-tab){
	visibility: hidden;
	height: 0;
}

.tab:not(.active-tab) * {
	visibility: hidden;
	height: 0;
	padding: 0;

}

.arrow-icon{
	width: 2em;
	border-radius: 1em;
	position: absolute;
	top: 40%;
	transition: background 0.2s;
}

.arrow-icon:hover{
	cursor: pointer;
	background: #BBD;
}





#chatbot-output{
	font-size: 0.75em;
}

#chatbot-demo-section{
	margin-top: 1em;
	float:left;
	width: 52%;
	display: inline-block;
}

#chatbot-description-section{
	margin-top: 1em;
	float:left;
	width: 46%;
	display: inline-block;
}



#genetics-img{
	display: inline-block;
}

#genetics-abstract{
	padding-top: 3em;
	margin-left: 8em;
	width: 40%;
	display: inline-block;
	font-family: Georgia, serif;
	font-style: italic;
	vertical-align: top
}

#pong-canvas{
	float: left;
	margin-top: 2em;
	background: #000;
	border: 2px solid #55F;
}

#pong-text{
	margin-left: 0.5em;
	padding-top: 4em;
	float: left;
}


#towerdefense-img{
	margin-top: 1em;
	float: left;
}

#towerdefense-text{
	float: left;
	margin-top: 2em;
	margin-left: 2.5em;
	width: 30%;
}